@font-face { 
    font-family: 'KyivType'; 
    font-weight: 400; 
    src: 
    url('/assets/fonts/dmitry_rastvortsev_-_kyivtype_sans_regular-webfont.woff') 
    format('woff'), 
    url('/assets/fonts/dmitry_rastvortsev_-_kyivtype_sans_regular-webfont.woff2') 
    format('woff2'); }

:root {
    font-family: 'KyivType';
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

body,
html {
  margin:0;
  padding:0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height:100%;
}

body {
    background-image: linear-gradient(to right top, #86a8e7, #7699da, #678ace, #587bc1, #486db5, #3e62ad, #3557a4, #2c4c9c, #2a4196, #2a368f, #2b2a87, #2d1c7f);
}

h1,
p {
    white-space: pre;
}

h1 {
    font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
}

.header {
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height:100vh;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 768px) {

.menu {
  display: none;
}

.hamburgerWrapper {
  display: none;
}

.desktop-menu {
  position: absolute;
  margin-top: -0.5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9999;
  list-style: none;
}

.desktop-menu a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
}

.desktop-menu a:hover {
  color: cyan;
}
}

@media screen and (max-width: 768px) {

  .about-me h2 {
    padding-top: 0;
  }

  h1 {
    font-size: 2rem;
  }

 .desktop-menu {
  display: none;
 }


 .hamburgerWrapper {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
 }

 .hamburger {
  padding: 8px;
  cursor: pointer;
  background: none;
  border: none;
  color: whitesmoke;
 }

 .menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  transition: transform 0.2s;
  z-index: 99;
  list-style: none;
  background-color: black;
  display:none;
  padding: 2rem;
  border-radius: 25px;
 }

 .menu a {
  color:whitesmoke;
  text-align: center;
 }

 .menu li {
  text-align: center;
  font-size: 2rem;
  margin-top: 6rem;
 }

 .menu li :hover {
  color:cyan;
 }

 .showMenu {
  transform: translateY(0%);
 }

 .menuIcon {
  transition: transform 0.2s;
 }

 .hamburger i {
  font-size: 3rem;
 }
 .hamburger.open .menuIcon {
  transform: rotate(90deg);
 }
}

.about-me {
  text-align: center;
  padding: 1rem;
}

.about-me h2 {
  padding-top: 5rem;
}

.about-me p {
  max-width: 800px;
  font-size: 1.2rem;
  line-height: 1.5;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  margin: 0 auto;
  white-space: normal;
  margin-bottom:1rem;
}

.tech-stack {
  text-align: center;
  position: relative;
}

.tech-stack i {
  font-size: 2rem;
}

.portfolio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

section a {
  font-family: 'KyivType';
  font-weight: 400;
}

.portfolio-section article {
  position: relative;
  display: inline-block;
}

.portfolio-btn {
  color: whitesmoke;
  font-size: 1rem;
  background-color: black;
  border-radius: 25px;
  margin: auto;
  display: block;
  width: fit-content;
  position: absolute;
  bottom:0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.portfolio-btn:hover {
  color:aqua;
}

.contact {
  background-color: black;
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.contact i {
  color: whitesmoke;
}

.contact i {
  font-size:2rem;
}

footer i:hover {
  color: cyan;
}

.toTopBtn {
  position: fixed;
  bottom: 20px;
  right: 5px;
  font-size: 30px;
  color: white;
  line-height: 0;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 25px;
  background-color: black;
}

.toTopBtn:hover {
  background-color: cyan;
}